    body {
        margin: 0;
        padding: 0;
        font-family: "Cuprum", "PT Sans", sans-serif;
        font-weight: normal;
        /*font-size: 14px;

        line-height: 18px;  может убрать?*/
        text-transform: none;
        color: #000000;
        background-color: rgb(255, 255, 255);
    }
    
    a {
        text-decoration: none;
    }
    /*ok*/
    
    .header-logo,
    .footer-logo {
        background-color: rgb(238, 54, 67);
        box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    }
    
    .header-logo a:focus,
    .header-logo a:hover {
        background-color: rgb(202, 44, 55);
    }
    
    .header-logo:active {
        background-color: rgb(186, 39, 50);
    }
    
    .main-header {
        background-color: rgb(244, 247, 249);
    }
    
    .promo-button {
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-align: center;
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    .promo-button:hover,
    .promo-button:focus {
        background-color: rgba(0, 0, 0, 0.2);
    }
    
    .promo-button:active {
        background-color: rgba(0, 0, 0, 0.3);
    }
    /*
    .button,
    button {
        font: inherit;
        font-size: 14px;
        text-align: center;
        color: rgb(255, 255, 255);
        line-height: 18px;
        vertical-align: center;
        text-transform: uppercase;
        border: none;
    }

    .common-button,
    button {
        background-color: rgb(238, 54, 67)
    }

    .common-button:hover,
    .common-button:focus {
        background-color: rgb(202, 44, 55);
    }

    .common-button:active {
        background-color: rgb(186, 39, 50);
    }


    .button-buy {
        background-color: rgb(99, 166, 62);
    }

    .button-buy:hover,
    .button-buy:focus {
        background-color: rgb(95, 187, 45);
    }

    .button-buy:active {
        background-color: rgb(81, 133, 52);
    }

    .button-bookmark {
        color: #32425c;
    }
    */
    
    .shopping-control {
        font-size: 17px;
        text-align: left;
        line-height: 18px;
        color: rgb(255, 255, 255);
        background-color: rgb(41, 52, 73);
    }
    /*ok*/
    
    .search-form input[type="search"] {
        color: rgb(255, 255, 255);
        background-color: rgb(41, 52, 73);
        border: none;
    }
    /*ol*/
    
    .shopping-control a {
        color: rgb(255, 255, 255);
    }
    /*ok*/
    
    .shopping-control .bookmarks:hover,
    .shopping-control .basket:hover,
    .shopping-control input:hover {
        background-color: rgb(33, 42, 58);
    }
    /*ok*/
    
    .shopping-control .bookmarks:active,
    .shopping-control .basket:active {
        color: rgba(255, 255, 255, 0.5);
        background-color: rgb(22, 29, 41);
    }
    /*ok*/
    
    .main-header input:focus {
        background-color: #ffffff;
    }
    /*ok*/
    
    .shopping-control .place-order {
        background-color: rgb(99, 166, 62);
    }
    /*ok*/
    
    .shopping-control .place-order:hover {
        background-color: rgb(95, 187, 45)
    }
    /*ok*/
    
    .shopping-control .place-order:active {
        color: rgba(255, 255, 255, 0.5);
        background-color: rgb(81, 133, 52);
    }
    /*ok*/
    
    .main-header h1 {
        font-size: 16px;
        font-style: italic;
        line-height: 23px;
        text-align: left;
        color: rgb(238, 54, 67);
    }
    /*ok*/
    
    .header-contacts .phone {
        font-size: 21px;
        letter-spacing: 0.4px;
        line-height: 21px;
        text-align: left;
        color: rgb(238, 54, 67);
        border: solid 3px rgb(255, 255, 255);
    }
    /*ok*/
    
    .header-contacts .address {
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: rgb(50, 66, 92);
    }
    /*ok*/
    
    .user-sign-out,
    .main-navigation-site {
        list-style: none;
    }
    /* ok*/
    
    .main-navigation {
        font-size: 17px;
        line-height: 17px;
        color: rgb(255, 255, 255);
        background-color: rgb(50, 66, 92);
        box-shadow: inset 0 -5px 0 rgb(41, 52, 73);
    }
    /*ok*/
    
    .main-navigation-site a,
    .catalog-navigation a {
        color: #ffffff;
    }
    /*ok*/
    
    .main-navigation-site a:hover,
    .main-navigation-site a:focus {
        background-color: rgb(41, 52, 73);
    }
    /*ok*/
    
    .main-navigation-site a:active {
        color: rgba(255, 255, 255, 0.5);
        background-color: rgb(29, 39, 57);
    }
    /*ok*/
    
    .user-sign-out a {
        font-size: 21px;
        text-align: left;
        line-height: 21px;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }
    /*ok*/
    
    .user-sign-out li a:hover {
        color: rgb(238, 54, 67);
    }
    /*ok*/
    
    .user-sign-out li a:active {
        color: rgba(0, 0, 0, 0.3)
    }
    /*ok*/
    
    .promo-list {
        list-style: none;
    }
    /*ok*/
    
    .promo-list h3 {
        font-size: 24px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        line-height: 30px;
    }
    /*ok*/
    
    .promo-list li:nth-child(1) {
        background-color: rgb(255, 191, 71);
    }
    
    .promo-list li:nth-child(2) {
        background-color: rgb(59, 188, 227);
    }
    
    .promo-list li:nth-child(3) {
        background-color: rgb(220, 145, 216);
    }
    
    .promo-list li:nth-child(4) {
        background-color: rgb(142, 215, 143);
    }
    
    .promo-list li:nth-child(5) {
        background-color: rgb(255, 192, 71);
    }
    /*ok*/
    
    .slider-sign {
        text-align: left;
        color: rgb(255, 255, 255);
        opacity: 0.25;
    }
    
    .slider-sign b {
        font-size: 36px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 36px;
    }
    /*ok*/
    
    .slider-sign span {
        font-size: 18px;
        line-height: 24px;
    }
    /*ok*/
    
    .slider-item {
        background-color: rgb(86, 86, 86);
        background-image: url("/img/promo_slaider1.jpg");
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .popular-index {
        background-color: #f9f5f0;
    }
    
    .popular-index h2 {
        font-size: 30px;
        line-height: 30px;
        text-align: left;
        text-transform: uppercase;
        color: rgb(50, 66, 92);
    }
    
    .popular-items ul {
        list-style: none;
    }
    
    .popular-items-list li {
        background-color: rgb(255, 255, 255);
        border: solid 1px rgb(229, 229, 229);
    }
    
    .popular-items-list li:hover {
        box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    }
    
    .product h3 {
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        text-align: center;
        color: rgb(0, 0, 0);
    }
    
    .product-price-old {
        font-size: 17px;
        font-weight: bold;
        line-height: 18px;
        text-decoration: line-through;
        text-align: center;
        color: rgb(169, 169, 169);
    }
    
    .popular-producers ul {
        list-style: none;
    }
    
    .popular-producers-card li {
        background-color: rgb(255, 255, 255);
        border: solid 1px rgb(229, 229, 229);
    }
    
    .popular-producers-card li:hover {
        box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    }
    
    .popular-producers-card li:active {
        opacity: 0.3;
        box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
    }
    
    .service {
        background-color: rgb(245, 248, 250);
    }
    
    .service h2,
    .information h2 {
        font-size: 30px;
        text-transform: uppercase;
        text-align: left;
        color: rgb(0, 0, 0);
        line-height: 30px
    }
    
    .service p,
    .information p {
        font-size: 13px;
        text-align: left;
        line-height: 24px;
        color: rgb(0, 0, 0);
    }
    
    .service .slider-list {
        list-style: none;
    }
    
    .slider-list h3 {
        font-size: 36px;
        color: rgb(50, 66, 92);
        line-height: 36px;
        text-align: left;
    }
    
    .slider-list p {
        font-size: 13px;
        color: rgb(0, 0, 0);
        line-height: 24px;
        text-align: left;
    }
    
    .slider-service .button-select {
        font-size: 21px;
        font-weight: bold;
        line-height: 30px;
        color: rgb(255, 255, 255);
        text-align: left;
        background-color: rgb(50, 66, 92);
    }
    
    .slider-service .button-select:active {
        color: rgb(50, 66, 92);
        background-color: rgb(255, 255, 255);
    }
    
    .about-us ul {
        list-style: none;
    }
    
    .about-us li {
        font-size: 18px;
        line-height: 20px;
    }
    
    .footer-up {
        font-size: 18px;
        text-align: left;
        line-height: 24px;
        color: rgb(243, 247, 249);
        background-color: rgb(50, 66, 92);
    }
    
    .footer-navigation ul {
        list-style: none;
    }
    
    .catalog-navigation a {
        color: rgb(255, 209, 128);
    }
    
    .site-navigation a:hover,
    .catalog-navigation a:hover {
        border-bottom: 2px solid;
    }
    
    .site-navigation a:active,
    .catalog-navigation a:active {
        opacity: 0.5;
        border: none;
    }
    
    .footer-down {
        background-color: rgb(41, 52, 73);
    }
    
    .footer-down p {
        font-size: 16px;
        color: rgb(255, 255, 255);
        text-align: left;
        line-height: 18px;
    }
    
    .footer-social ul {
        list-style: none;
    }
    
    .footer-social li {
        background-color: rgb(33, 42, 58);
    }
    
    .footer-social li:hover,
    .footer-social li:active {
        background-color: rgb(238, 54, 67);
    }
    
    .footer-down a {
        text-decoration: none;
        color: rgb(255, 209, 128);
    }
    
    .footer-down a:hover {
        text-decoration: underline;
    }
    
    .footer-down a:active {
        color: rgb(238, 54, 67);
        text-decoration: none;
    }
    
    .modal-modal-writeus {
        box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
    }
    
    .modal-modal-writeus label {
        font-size: 18px;
        color: rgb(0, 0, 0);
        line-height: 18px;
        text-align: left;
    }
    
    .modal-modal-writeus input,
    .modal-modal-writeus textarea {
        background-color: rgb(255, 255, 255);
        border: solid 2px rgb(215, 220, 222);
    }
    
    .modal-modal-writeus input:hover,
    .modal-modal-writeus textarea:hover {
        border: solid 2px rgb(181, 181, 181);
    }
    
    .modal-modal-writeus input:focus,
    .modal-modal-writeus textarea:focus {
        border: solid 2px rgb(238, 54, 67);
    }
    
    .button-area {
        background-color: rgb(244, 244, 244);
    }
    
    .modal-modal-map {
        box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
        background-color: #565656
    }
    
    .modal-modal-putitem {
        box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
    }
    
    .modal-modal-putitem p {
        font-size: 30px;
        color: rgb(0, 0, 0);
        text-align: center;
        line-height: 30px;
    }